@use 'sass:map';

$breakpoints: (
  compact: 600px,
  mobile: 768px,
  narrow-tablet: 960px,
  tablet: 1024px,
  laptop: 1280px,
  desktop: 1440px,
) !default;

@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}
