@use 'units' as *;

/// Design spacing scale (px → rem)
$space-0: to-rem(0);
$space-1: to-rem(4);
$space-2: to-rem(8);
$space-3: to-rem(12);
$space-4: to-rem(16);
$space-5: to-rem(20);
$space-6: to-rem(24);
$space-7: to-rem(32);
$space-8: to-rem(40);
$space-9: to-rem(48);
$space-10: to-rem(56);
$space-11: to-rem(64);
$space-12: to-rem(80);
$space-13: to-rem(96);
$space-14: to-rem(100);
$space-15: to-rem(120);
$space-16: to-rem(160);
$space-17: to-rem(200);
$space-18: to-rem(234);
